aiohttp
aiosignal
anyio
async-timeout
attrs
beautifulsoup4
certifi
charset-normalizer
click
colorama
dataclasses-json
dnspython
elastic-transport
elasticsearch
email-validator
fastapi[all]
frozenlist
google-cloud-aiplatform
greenlet
h11
httpcore
httptools
httpx
idna
itsdangerous
jinja2
langchain
langchain_community
langchain_openai
lxml
markupsafe
marshmallow-enum
marshmallow
multidict
mypy-extensions
notebook
numexpr
numpy
openai
openapi-schema-pydantic
orjson
packaging
pydantic
python-dotenv
python-multipart
pyyaml
regex
requests
sniffio
soupsieve
sqlalchemy
starlette
tenacity
tiktoken
tqdm
typing-extensions
typing-inspect
ujson
urllib3
uvicorn[standard]
uvloop
watchfiles
websockets
yarl
# Unstructured currently supports loading of text files, powerpoints, html, pdfs, images, and more.
unstructured[all-docs]
