aiohttp
aiosignal
anyio
async-timeout
attrs
beautifulsoup4
certifi
charset-normalizer
click
colorama
dataclasses-json
dnspython
elastic-transport
elasticsearch
email-validator
fastapi[all]
frozenlist
greenlet
h11
httpcore
httptools
httpx
idna
itsdangerous
jinja2
langchain
lxml
markupsafe
marshmallow-enum
marshmallow
multidict
mypy-extensions
numexpr
numpy
openai
openapi-schema-pydantic
orjson
packaging
pydantic
python-dotenv
python-multipart
pyyaml
regex
requests
sniffio
soupsieve
sqlalchemy
starlette
tenacity
tiktoken
tqdm
typing-extensions
typing-inspect
ujson
urllib3
uvicorn[standard]
uvloop
watchfiles
websockets
yarl
